@page "/about"

<div>
    <div>
        <div>
            <div>
                <main>
                    <article>
                        <header>
                            <span>February 10, 2022</span>
                            <h1>About</h1>
                        </header><!-- .entry-header -->
                        <div>
                            <div>
                                <section>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h1>Get to know Steve</h1><p><span data-contrast="auto">Steve Bratcher is a Republican Candidate for Kentucky State House of Representatives in the 25th District. Steve has lived in Elizabethtown with his wife, Cindy, for more than 20 years.&nbsp; He also is father to two amazing daughters, Tori and Paige. His diversity, experience, and education will help him to be a Representative that makes sound judgements for the people he serves.&nbsp;</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p><p><b><span data-contrast="auto">Work Experience</span></b><span data-contrast="auto">: Steve currently serves as Director of External Technical Training at Elizabethtown Community and Technical College where he also teaches business and technical classes. Most recently, he developed the Computer Coding Academy as well as training and development for new organizations moving to the area.&nbsp; As a college educator, he has a passion for helping people achieve their goals and developing small business. Steve has worked at senior levels in both the automotive and bourbon industries. Being a real estate broker and owing a real estate business Steve understands the challenges that small business face. He is a Human Resources Senior Certified Professional (SCP) and holds a private pilot’s license. Steve has diverse work background that will help him to understand the many different facets needed to be a Representative.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p><p><b><span data-contrast="auto">Community Servant</span></b><span data-contrast="auto">: Steve believes that our community is better when we all work to help and serve those around us.&nbsp; He has a long history of doing just that. Serving the community, he coached youth soccer for many years helping kids to learn and enjoy the game. He has volunteered for Feeding America. coaching Youth Soccer, and serving on the high school Site Based Council to try to help impact education for our students and teachers. Steve serves as a Constable and has been elected for the last 3 election cycles. Steve passionately serves on the Habitat for Humanity Board of Directors in an effort to help bring the American dream of owning a home to more in our community.&nbsp;</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p><p><b><span data-contrast="auto">Education</span></b><span data-contrast="auto">: Steve holds two master’s degrees, with one being an Executive Master of Business Administration (EMBA) from Bellarmine University and the other, being a Master of Science from Eastern Kentucky University.&nbsp; It was at EKU where he also earned a Bachelor of Arts degree. Additionally, Steve also holds two associate technical degrees.&nbsp;</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p><p><b><span data-contrast="auto">Military Service</span></b><span data-contrast="auto">: Steve’s Military background is extensive with over four years of active duty in the Air Force and over 30 years in the Kentucky Air National Guard, where he presently still serves as a Senior Non-Commissioned Officer. Steve has responded to the call on numerous occasions including on September 11 for homeland defense and Iraqi Freedom. He is a decorated Airman with multiple awards, medals, and citations including one with valor. Steve has experience with both foreign and domestic operations.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                </section>
                            </div>
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->
                </main><!-- #main -->
            </div><!-- #primary -->
        </div>
    </div><!-- .container -->


</div><!-- .site-content -->
