@page "/contact"



<div>

    <div>

        <div>
            <div>

                <main>

                    <article>

                        <header>

                            <span>February 10, 2022</span>

                            <h1>Contact</h1>

                        </header><!-- .entry-header -->

                        <div>

                            <div>
                                <section>

                                    <div>
                                        <div>
                                            <div>
                                                <Contact />
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div><!-- .entry-content -->


                    </article><!-- #post-## -->

                </main><!-- #main -->

            </div><!-- #primary -->

        </div>
    </div><!-- .container -->


</div><!-- .site-content -->
