@page "/district-map"


<DefaultHeader Title="District Map" Breadcrumb="District Map" />
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Steve's Community //</h6>
            <h1 class="mb-5">District Map</h1>
        </div>
        <div class="row g-4">
            <img class ="img-fluid" src="/img/district-map.jpg" />
            <p>This is the updated map for the 25th District. For a more personalized look, please go to <a href="https://apps.legislature.ky.gov/findyourlegislator/findyourlegislator.html" data-wpel-link="external" target="_blank" rel="external noopener noreferrer">here</a>.&nbsp;</p>

        </div>
    </div>
</div>












