@page "/issues"



<div>

    <div>

        <div>
            <div>

                <main>

                    <article>

                        <header>


                            <h1>Issues</h1>

                        </header><!-- .entry-header -->

                        <div>

                            <div>
                                <section>
                                    <div>
                                        <div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <img decoding="async" width="373" height="135" src="https://stevebratcher.com/wp-content/uploads/2022/07/images-1.png" class="attachment-large size-large wp-image-240" alt="" loading="lazy" srcset="https://stevebratcher.com/wp-content/uploads/2022/07/images-1.png 373w, https://stevebratcher.com/wp-content/uploads/2022/07/images-1-300x109.png 300w" sizes="(max-width: 373px) 100vw, 373px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div><!-- .entry-content -->


                    </article><!-- #post-## -->

                </main><!-- #main -->

            </div><!-- #primary -->

        </div>
    </div><!-- .container -->


</div><!-- .site-content -->












<img src="https://pixel.wp.com/g.gif?v=ext&amp;blog=202994286&amp;post=227&amp;tz=0&amp;srv=stevebratcher.com&amp;j=1%3A12.0&amp;host=stevebratcher.com&amp;ref=&amp;fcp=0&amp;rand=0.7472421904053439" alt="" width="6" height="5" id="wpstats">