@page "/support"




<DefaultHeader Title="Support Me" Breadcrumb="Support" />

<div class="entry-content">


    <div class="wp-block-image is-style-default"><figure class="aligncenter size-full"><img decoding="async" width="300" height="431" src="http://stevebratcher.com/wp-content/uploads/2022/02/frame-1.png" alt="" class="wp-image-181" srcset="https://stevebratcher.com/wp-content/uploads/2022/02/frame-1.png 300w, https://stevebratcher.com/wp-content/uploads/2022/02/frame-1-209x300.png 209w" sizes="(max-width: 300px) 100vw, 300px"></figure></div>



    <p class="has-text-align-center" style="font-size:29px"></p>



    <div class="is-layout-flex wp-block-buttons">
        <div class="wp-block-button aligncenter"><a class="wp-block-button__link" href="https://secure.anedot.com/c0435ad2-e0e4-4d49-b7f9-23bf1ee1bf65/donate" target="_blank" rel="noreferrer noopener external" data-wpel-link="external">Donate</a></div>
    </div>



    <p></p>



    <p class="has-text-align-left">Raising money to get my message out is the most awkward part of running for office, yet it is how I get my message across. I am very grateful for your support as I am striving to represent the 25th District. </p>



    <p>Maximum contribution allowable is $2,000 per person, per election cycle.&nbsp; Please note, donations from corporations will not be accepted.</p>



    <p></p>

</div><!-- .entry-content -->
