@using BlazorApp.Shared;
@using System.Net.Mail;
@using System.Net;
@using System.Text.Json;
@using System.Net.Http.Headers;
@using System.Text;
@inject HttpClient Http

<section class="content">
    <div class="block-content">
        <h3 class="block-title">Get in touch</h3>
        <div class="row">
            <div class="col-md-6">
                @if (messageSent)
                {
                    <span>Thank you, your message has been received.</span>
                }
                else if (sendingMessage)
                {
                    <p>Sending your message...</p>
                }
                else
                {
                    <EditForm Model="@contactMessage" OnValidSubmit="@HandleValidSubmit" class="contact-form bv-form" id="contact_form">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group has-feedback">
                            <InputText class="form-control" id="fname" placeholder="Name*" @bind-Value="contactMessage.Name" />
                        </div>
                        <div class="form-group mar-top-40 has-feedback">
                            <InputText class="form-control" id="email" placeholder="Email*" @bind-Value="contactMessage.Email" />
                        </div>
                        <div class="form-group mar-top-60 has-feedback">
                            <InputTextArea rows="10" class="form-control" id="comment" placeholder="Your Message" data-bv-field="comment" @bind-Value="contactMessage.Message" />
                        </div>
                        <button type="submit" class="btn v7">Submit</button>
                    </EditForm>
                }
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="contact-content">
                    <div class="contact-icon">
                        <i class="ion-ios-telephone-outline"></i>
                    </div>
                    <div class="contact-details">
                        <h5>Phone</h5>
                        <p> <a href="tel:+2798729009">+1(270) 872-9009</a></p>
                    </div>
                </div>
                <div class="contact-content">
                    <div class="contact-icon">
                        <i class="ion-ios-email-outline"></i>
                    </div>
                    <div class="contact-details">
                        <h5>Enquiries</h5>
                        <p>ian.cosborne@yahoo.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private ContactMessage contactMessage = new ContactMessage("", "", "");
    private EditContext? editContext;
    private bool messageSent;
    private bool sendingMessage;
    protected override void OnInitialized()
    {
        editContext = new(contactMessage);
    }
    private async Task HandleValidSubmit(EditContext editContext)
    {
        sendingMessage = true;
        var content = new ByteArrayContent(Encoding.UTF8.GetBytes(JsonSerializer.Serialize(editContext.Model)));
        content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
        var response = await Http.PostAsync("/api/ContactFunction", content);
        if (response.IsSuccessStatusCode)
        {
            messageSent = true;
        }

    }

}
