<footer>
    <div>
        <div>
            <div>electstevebratcher@gmail.com</div>
        </div>
        <div>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/Steve-Bratcher-for-State-Representative-104570065503217" data-wpel-link="external" rel="external noopener noreferrer">
                        <span>Facebook link</span>
                        <i></i>
                    </a>
                </li>
            </ul><!-- .social -->
            <p>Paid for by Steve Bratcher for State Representative</p>
        </div>
    </div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->
