<footer id="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">


    <div class="container">


        <div class="col-md-6 company-details">
            <div class="zerif-footer-email">electstevebratcher@gmail.com</div>
        </div><div class="col-md-6 copyright">
            <ul class="social">
                <li id="facebook">
                    <a target="_blank" href="https://www.facebook.com/Steve-Bratcher-for-State-Representative-104570065503217" data-wpel-link="external" rel="external noopener noreferrer">
                        <span class="sr-only">Facebook link</span> <i class="fa fa-facebook"></i>
                    </a>
                </li>
            </ul><!-- .social --><p id="zerif-copyright">Paid for by Steve Bratcher for State Representative</p>
            <div class="zerif-copyright-box">
                <a class="zerif-copyright" rel="nofollow">Zerif Lite </a>developed by <a class="zerif-copyright" href="https://themeisle.com" target="_blank" rel="nofollow external noopener noreferrer" data-wpel-link="external">ThemeIsle</a>
            </div>
        </div>
    </div> <!-- / END CONTAINER -->

</footer> <!-- / END FOOOTER  -->
